/* h1[data-numbering]::before,
h2[data-numbering]::before,
h3[data-numbering]::before,
h4[data-numbering]::before,
h5[data-numbering]::before,
h6[data-numbering]::before {
  content: attr(data-numbering) " ";
} */

span.heading.numbering {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
