/* for block of numbers */
.hljs-ln-n {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding: 0 5px 0 0;

    /* your custom style here */
}

/* for block of code */
table.hljs-ln {
    margin: 0;
}
td.hljs-ln-code {
    padding: 0 0 0 5px;
}
td.hljs-ln-line {
    border: none;
}
table tbody tr.hljs-ln-line {
    background-color: inherit;
}
